var path = require('path'),
    config;

config = {
    production: {
        "url": "{{ ghost_internal_url }}",
        "mail": {{ ghost_config_mail | to_json }},
        "database": {{ ghost_config_database | to_json }},
        "server": {{ ghost_config_server | to_json }}
    }
};

// Export config
module.exports = config;
